@import "./vars";

.header {
    margin: 0;
    padding: 16px 0;
    font-family: $secondery-font;

    &__logo-link {
        display: inline;
        max-width: 255px;
    }

    &__logo-img {
        max-width: 100%;
        max-height: 100%;

    }

    &__nav-item+&__nav-item {
        margin-left: 45px;
    }

    &__nav-link {
        font-family: $secondery-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-transform: capitalize;
        color: #D94343;
    }

    &__nav-toggler {
        border: 1px solid $accent;
        padding: 6px 5px 0;



        path {
            fill: $accent
        }
    }
}